.body-container {
    background-color: #f9fcf0;
    height: 100vh;
}

.header-home {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100px;
    background-color: #f8f9fa;
    gap: 10px;
    flex-direction: column;
    padding: 4rem;
}

.header-title {
    font-size: 3.5rem;
    color: #166534;
}

.main-home {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .sidebar-home {
    flex: 1 1 250px;
    max-width: 300px;
  }
  
  .cards-home {
    flex: 3 1 700px;
  }
  